aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
appdirs==1.4.4
appnope==0.1.2
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cssselect==1.1.0
dataclasses==0.6
decorator==5.0.9
elasticsearch==7.13.2
fake-useragent==0.1.11
geographiclib==1.52
geopy==2.1.0
googletransx==2.4.2
idna==2.10
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lxml==4.6.3
matplotlib-inline==0.1.2
MechanicalSoup==1.1.0
multidict==5.1.0
nest-asyncio==1.5.1
numpy==1.21.0
pandas==1.2.5
parse==1.19.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pycares==4.0.0
pycparser==2.20
pyee==8.1.0
Pygments==2.9.0
pyppeteer==0.2.5
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.1
python-socks==1.2.4
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
requests==2.25.1
requests-html==0.10.0
schedule==1.1.0
searchtweets-v2==1.0.7
six==1.16.0
soupsieve==2.2.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
twitter-scraper==0.4.4
typing-extensions==3.10.0.0
urllib3==1.26.5
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
yarl==1.6.3
