{%  load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="{% static "js/main.js" %}"></script>   
</script>
    <title>Animated Gifs</title>
</head>

<!-- footer -->
<div class="contain-fluid">
    <div class="contain-fluid">
        <h1 class="display-5 pt-4" style="color: #4E4E4E; text-align: center; font-size: 50px;">Animated Gifs Study
        </h1>
        <h2 class="display-5 pb-4" style="color: #4E4E4E; text-align: center; font-size: 20px;">Case {{request.session.step}}
        </h2>
        <div class="row pb-4 mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center">Instruction</div>
                
                <ul class="list-group">
                    <li class="list-group-item">
                        Step 1. Read over the conversation example in the Sample section.
                        You're tasked with selecting a gif to replace the highlighted message.
                    </li>
                    <li class="list-group-item">
                        Step 2. Type in the keyword in the search bar to search a gif. 
                        Click 'search' button and a list of gifs will be shown.
                        To select a gif, click on one of the gifs shown below search bar. 

                    </li>
                    <li class="list-group-item">
                        Step 3. Once you select a gif, complete the survey on the survey section 
                        and click "confirm" to submit your choice and answers.
                    </li>

                </ul>
            </div>
            <div class="col-md-3"></div>

        </div>
        <div class="row">
            <div class="col-md-4" style="padding: 0% 2% 0% 5%;">
                <h1 class = "pb-4"> Sample {{sample_id}}</h1>
                <div class="m-4">
                    <div class = "d-flex justify-content-center" >
                        <img src="{% static "img/avatar.png"%} " alt="" class="img-fluid w-25" id = "main_img" style = "border-radius: 30px;">
                    </div>

                    <div class = "d-flex justify-content-center p-1 mb-2" style = "border-bottom: 1px solid #d4d4d4;">
                        Alex
                    </div>
                    {% for msg in sample %}
                        {% if msg.type == "left" %}
                            <div class = "d-flex justify-content-start mb-3">
                                {% if msg.highlight %}
                                <div class = "p-2 px-4" style = "background-color: #F6D06F; border-radius: 30px; ">
                                    {{ msg.payload }}
                                </div>
                                {% else %}
                                <div class = "p-2 px-4" style = "background-color: #73B8F7; border-radius: 30px; color: #ffffff; "">
                                    {{ msg.payload }}
                                </div>
                                {% endif %}
                                <!-- <div class="col-md-1" ></div> -->
                                
                            </div>
                        {% elif msg.type == "right" %}
                            <div class = "d-flex justify-content-end mb-3">
                                {% if msg.highlight %}
                                <div class = "p-2 px-4" style = "background-color: #F6D06F; border-radius: 30px; ">
                                    {{ msg.payload }}
                                </div>
                                {% else %}
                                <div class = "p-2 px-4" style = "background-color: #EDF6FD; border-radius: 30px;"">
                                    {{ msg.payload }}
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        
                    {% endfor %}

                    <!-- <div class = "row p-2 w-100 float-left">
                        <span class = "p-2 px-4" style = "background-color: #73B8F7; border-radius: 30px; color: #ffffff">
                            How did you physics go?
                        </span>
                    </div>

                    <div class = "row p-2 float-right">
                        <span class = "p-2 px-4" style = "background-color: #EDF6FD; border-radius: 30px; ">
                            Oh it went really well!
                        </span>
                    </div>
                    
                    <div class = "row p-2 w-100 float-left">
                        <span class = "p-2 px-4" style = "background-color: #73B8F7; border-radius: 30px; color: #ffffff">
                            Thanks for helping out!
                        </span>
                    </div>
                    
                    <div class = "row p-2 float-right">
                        <p class = "p-2 px-4" style = "background-color: #F6D06F; border-radius: 30px; ">
                            No problem!
                        </p>
                    </div>

                    <div class = "row p-2 float-right">
                        <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid p-2 px-4" id = "main_img" style = "background-color: #F6D06F; border-radius: 30px; ">
                    </div> -->

                </div>
            </div>
            <div class="col-md-4" >
                <h1 class = "pb-4">  Gif</h1>
                <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid" id = "main_img">
                <p class="lead">
                    Search a Gif to replace the highlighted text
                </p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button id = "searchbtn" class="btn btn-outline-secondary" type="button">Search</button>
                    </div>
                    <input id = "searchq" type="text" class="form-control" placeholder="happy, tired, stressed, etc" aria-label=""
                        aria-describedby="basic-addon1">
                </div>
                <div id="gifresults">

                    <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid w-25">
                    <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid w-25">
                    <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid w-25">
                    <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid w-25">
                    <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid w-25">
                    <img src="{% static "img/sample.gif"%} " alt="" class="img-fluid w-25">
                </div>
            </div>
            <div class="col-md-4" style="padding: 0% 7% 0% 7%;">
                <h1 class = "pb-4"> Survey</h1>
                <img src="sample.gif" alt="" class="img-fluid">
               

                <div class="input-group mb-3">
                    <p>
                        How much do you agree with the statement:
                        This gif closely represents or describes the emotion I want to express.
                    </p>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Somewhat disagree</option>
                        <option value="3" selected>Neutral</option>
                        <option value="4">Somewhat agree</option>
                        <option value="4">Strongly agree</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <p>
                        How much do you agree with the statement:
                        I would likely use the selected gif in my own conversation.
                    </p>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Somewhat disagree</option>
                        <option value="3" selected>Neutral</option>
                        <option value="4">Somewhat agree</option>
                        <option value="4">Strongly agree</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <p>
                        How much do you agree with the statement:
                        I’m familiar with the source of the selected animated gif.
                    </p>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="1">Strongly disagree</option>
                        <option value="2">Somewhat disagree</option>
                        <option value="3" selected>Neutral</option>
                        <option value="4">Somewhat agree</option>
                        <option value="4">Strongly agree</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <p class = "w-100">
                        Have you ever used the selected gif? 
                    </p>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>True or False</option>
                        <option value="1">1 - Yes</option>
                        <option value="2">2 - No</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <p class = "w-100">
                        Have you used any gifs with the same character in the selected gif?
                    </p>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>True or False</option>
                        <option value="1">1 - Yes</option>
                        <option value="2">2 - No</option>
                    </select>
                </div>
                
               

                <div class="input-group mb-3">
                    <p class = "w-100">
                        Have you seen someone using the gif that you selected?

                    </p>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>True or False</option>
                        <option value="1">1 - Yes</option>
                        <option value="2">2 - No</option>
                    </select>
                </div>

                <form method='post' action="" >
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-lg btn-block"
                        name="cmd" value="submit"></button>
                </form>

            </div>
        </div>
    </div>
</div>

</html>